%h2 チーム!!

= @team.current_wish && @team.current_wish.title
= button_to 'pull', team_wishes_pull_path(@team), method: :get

= form_for :wish, url: team_wishes_path(@team) do |f|
  一緒に
  = f.hidden_field :team_id, value: @team.id
  = f.text_field :title
  したい！
  = f.submit
