-unless @team.current_wish.nil?
  .show-wish-form
    %span
      一緒に
      %span.current-wish
        = @team.current_wish && @team.current_wish.title
      したい！
      = button_to '別の！', team_wishes_skip_path(@team), method: :get
      = button_to 'オワタ！', team_wishes_done_path(@team), method: :post
-else
  .pull-form
    %legend ペアでしたいことを見る
    = button_to 'pull', team_wishes_pull_path(@team), method: :get

.entry-wish
  %legend したいことを追加
  = form_for :wish, url: team_wishes_path(@team) do |f|
    一緒に
    = f.hidden_field :team_id, value: @team.id
    = f.text_field :title
    したい！
    = f.submit
