.description
  %p この画面ではあなたがパートナーといっしょにしたいことを登録したり見ることができます。
  %p
    あなたがパートナーといっしょにしたいことを「したいことを追加」の欄に入力して登録してください。
    パートナーにもしたいことを登録してもらってください。
  %p
    登録しておいた、あなたとパートナーのしたいことは「pull」すると見ることができます。
    このとき表示される内容はあなたとパートナーで同じ内容になっています。
  %p パートナーといっしょにしたいことをぜひ実現してください。

-unless @team.current_wish.nil?
  .show-wish-form
    %span
      一緒に
      %span.current-wish
        = @team.current_wish && @team.current_wish.title
      したい！
      = button_to 'これは後にする', team_wishes_skip_path(@team), method: :get
      = button_to 'できた！', team_wishes_done_path(@team), method: :post
-else
  .pull-form
    %legend ペアでしたいことを引き出す
    = button_to 'プル', team_wishes_pull_path(@team), method: :get

.entry-wish
  %legend したいことを追加
  = form_for :wish, url: team_wishes_path(@team) do |f|
    一緒に
    = f.hidden_field :team_id, value: @team.id
    = f.text_field :title
    したい！
    = f.submit 'プッシュ'
