%legend Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  .control-group
    .controls
      = f.label :name
      = f.text_field :name, :autofocus => true
    .controls
      = f.label :email
      = f.email_field :email
    .controls
      = f.label :password
      = f.password_field :password
    .controls
      = f.label :password_confirmation
      = f.password_field :password_confirmation
    .controls
      = f.submit "Sign up"
    .controls
      = render "devise/shared/links"
