.control-group
  .conntrol
    = link_to 'ログアウト', destroy_user_session_path, {:method => :delete, :class => 'btn'}

%section
  %h2 あいかたリスト
  miio
  onjiro
%section
  %h2 ペア申し込まれ中リスト
  %table
    - @team_requests.each do |request|
      %tr
        %td= request.requestor.name
        %td= button_to 'ペアになる', accept_team_request_path(request)
        %td= button_to 'おことわり', reject_team_request_path(request)
%section
  %h2 ペア申請をする
  ユーザー名
  = form_for :user_request, url: team_requests_path do |f|
    = text_field_tag :user_name
    = f.submit "申し込む"
  = flash[:team_request]
