= link_to 'ログアウト', destroy_user_session_path, method: :delete

%section
  %h2 あいかたリスト
  miio
  onjiro
%section
  %h2 ペア申し込まれ中リスト
  - @requestors.each do |requestor|
    = requestor.name
%section
  %h2 ペア申請をする
  name
  = form_for :user_request, url: team_requests_path do |f|
    = text_field_tag :user_name
    = f.submit
  = flash[:team_request]
