!!!
%html
  %head
    %title Pairpull
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #container
      %header
        %h1 ペアプル
        -if current_user
          .login-user-name= link_to current_user.name, user_path(current_user)
      #contents
        = yield
      %footer
        &copy; 2013 Team pairpull All rights reserved.
